.login_form{
    text-align: center;
    margin: 15% auto auto;
    width: 300px;
}

.payment_form{
    text-align: center;
    margin: 15% auto auto;
    width: 300px;
}

.sort-order{
    text-align: right;
    width: 70%;
    float: left;
}

.result-limit{
    text-align: right;
    width: 25%;
    float: left;
}

#toast-show{
    text-align: center;
    margin: 15% auto auto;
    width: 300px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }