.login_form{
    text-align: center;
    margin: 15% auto auto;
    width: 300px;
}

.sort-order{
    text-align: right;
    width: 70%;
    float: left;
}

.result-limit{
    text-align: right;
    width: 25%;
    float: left;
}

#toast-show{
    text-align: center;
    margin: 15% auto auto;
    width: 300px;
}